@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scroll {
  -webkit-overflow-scrolling: touch; /* Smooth scrolling sur Safari */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Cache les scrollbars sur Chrome et Safari */
}